[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[LayoutSettings]
activities=
backgroundStyle=0
color=lightskyblue
customBackground=
customTextColor=
globalLaunchers=
icon=
lastUsedActivity=fb24cb66-548a-4fa1-b056-f0e669783767
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
